/* header and navbar */

header {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    z-index: 3;
}

.logo-and-title {
    display: flex;
    margin-top: 23px;
    margin-left: 28px;
    /* align-items: flex-end; */
    align-items: center;
    /* height: 55px; */
}

.logo-and-title a, .logo-and-title a:visited {
    text-decoration: none;
    color: black;
}

/* img */

.img-cropper {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: #807f7f solid 1px;
    background-color: #f5f5f5;
}

img.logo {
    margin: 0;
    /* margin-left: -25%;
    height: 100%; */
    padding-top: 20%;
    padding-left: 5%;
    height: 60%;
    background-image: url('../img/hand-to-hand.jpg');
}

ul.navbar a:hover {
    color: #79c3f1;
}

.nav-title {
    color: #53A7DB;
    font-size: 140%;
    font-weight: bold;
    line-height: 1.5rem;
    font-weight: bold;
    margin: 8px;
    text-transform: uppercase;
    /* margin-top: 4px; */
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    height: 60px;
    /* text-transform: uppercase; */
    font: medium;
    font-size: 19px;
    letter-spacing: .8px;
    /* background: aliceblue; */
    /* border-bottom: .8px solid grey; */
    align-items: center;
    margin-top: 0;
}

.navbar li {
    list-style: none;
    margin: 0 8px;
}

.navbar-group {
    list-style: none;
    /* display: flex; */
    /* margin-right: 20px; */
    /* justify-content: space-between; */
    margin-top: 50px;
}

.nav-link {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-item:hover {
    color: white;
}

#menu span{
    font-size: large;
    /* text-shadow: #ccccccb0 1px 1px; */
}
#menu, #menu ul {
	list-style: none;
}