@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* note: period - when on same line as tag, spaces - when inside tag */

* {
    font-family: 'Lato', sans-serif;
}

#contatiner{
    margin: 0;
}

body {
    padding: 0;
    margin: 0!important;

    background-color: white;
    max-width: 100%;
    /* min-height: 100%; */
    overflow-x: hidden;
    z-index: 1;
}

.inner-body {
    padding: 20px 40px;
    min-height: 460px;
    margin-top: 60px;
}

footer {
    /* width: 100%; */
    background: #2D2D2D;
    border-top: 2px solid #3E3E3E;
    text-align: center;
    padding: 18px;

    clear: both;
    position: relative;
    /* height: 200px; */
    /* margin-top: -20px; */
}

footer p, footer a {
    color: aliceblue;
    margin-bottom: 4px;
    text-decoration: none;
    margin-right: 15px;
}

footer p{
    margin-right: 40px;
    display: inline;
}

/* footer div {
    margin: auto;
} */

.about {
    margin-right: 40%;
}

.about p {
    font-size: 18px;
    text-align: justify;
}

/* buttons and inputs */

input[type=text], input[type=number], input[type=email], input[type=password], textarea {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d8d5d520;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    height: 140px;
}

button, input[type=submit] {
    /* background-color: #70C3F6;
    color: white; */
    background-color: #e6f3ff;
    color: #2587c3;
    border: solid 1px #4da5ee;

    font-size: 14px;
    opacity: 0.75;
    /* border: 0; */
    border-radius: 85px;
    height: 30px;
    padding: 0 10px;
    margin-top: 5px;
}

input[type=submit]:hover, button:hover {
    opacity: 1;
}

.send {
    float: right;
}

.contact-form {
    width: 60%;
    /* margin-bottom: 20px; */
}

.slick-prev {
    left: 35px!important;
}

.slick-next {
    right: 35px!important;
}

.slick-prev, .slick-next {
    background-color: rgb(154, 206, 255)!important;
}

a, .cd-stretchy-nav.nav-is-visible ul a.active, .cd-stretchy-nav span {
    color: #0c5c9ed7;
}

a:hover, a.nav-link:hover, .browse-link a:hover #menu a:hover, slick-slide a:hover {
    color: #3aa3e4!important;
}

.btn-add-book {
    margin: 0 10px;
}

.book-buttons {
    justify-content: space-around;
    display: flex;
}

.book-buttons .btn-add-book {
    width: inherit;
}

.book-buttons form {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

input.btn-login{
    margin-top: 0!important;
}

/* .h-icon::after,.h-icon.active::after  {
    background: url(../img/icons/home-icon.svg) no-repeat 0 0;
}

.t-icon::after {
    background: url('../img/icons/trade-icon.svg') no-repeat 0 0;
}

.a-icon::after {
    background: url('../img/icons/account-icon.svg') no-repeat 0 0;
} */

.flex {
    display: flex;
}

th {
    background-color: aliceblue;
}

.admin a:hover {
    text-decoration: underline;
}